/* fonts */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Roboto"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

/* variables */

:root {
	--basic-black: #000000;
	--basic-black-light: #444444;
	--basic-black-text: #283136;
	--basic-gray: #EEEEEE;
	--basic-bg-image: #C4C4C4;
	--basic-green: #00AA62;
	--basic-orange: #E5A722;
	--basic-orange-normal: #EFC849;
	--basic-red: #D7373B;
	--basic-white: #ffffff;
	--basic-text: #666666;
	--basic-paginathion-hover: #DFDFDF;
	--basic-link-hover: #FB565A;
	--basic-logo: #A6A6A6;
	--basic-btn-red-normal: #FB565A;
	--basic-btn-red-hover: #E74246;
	--basic-btn-red-active: #D7373B;
	--basic-btn-green-normal: #00CA74;
	--basic-btn-green-hover: #00BC6C;
	--basic-btn-green-active: #00AA62;
	--basic-btn-orange-normal: #EFC84A;
	--basic-btn-orange-hover: #EAB534;
	--basic-btn-orange-active: #E5A722;
}

/* global */

.page {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	background-color: var(--basic-gray);
	padding-top: 52px;
}

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.main-header-svg {
	width: 160px;
	height: 65px;
}

.cart-link {
	position: relative;
	max-width: 130px;
	padding-left: 40px;
	margin-left: auto;
}

.cart-link::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	background-image: url("../img/checkbox/cart-icon.svg");
	left: 0;
	top: 7px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-header-logo {
	margin-right: 202px;
}

.main-header-logo:hover svg {
	opacity: 0.7;
}

.main-header-logo:active svg {
	opacity: 0.3;
}

.menu-item a, .cart-link {
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 500;
	line-height: 30px;
}

.menu-item a:hover, .cart-link:hover {
	color: var(--basic-link-hover);
}

.menu-item a:active, .cart-link:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.button {
	display: inline-block;
	color: var(--basic-white);
	background-color: var(--basic-red);
	padding: 17px 54px 15px;
	border-radius: 3px;
	line-height: 18px;
	text-transform: uppercase;
	vertical-align: center;
}

.services {
	padding-top: 80px;
}

.service-item-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 16px;
	margin-bottom: 16px;
}

.service-item-text {
	padding-bottom: 18px;
}

.slider-item-link {
	background-color: var(--basic-btn-red-normal);
}

.slider-item-link:hover {
	background-color: var(--basic-btn-red-hover);
}

.slider-item-link:active {
	background-color: var(--basic-btn-red-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, .3);
}

.service-item-link {
	background-color: var(--basic-btn-red-normal);
	padding: 17px 40px 15px 40px;
}

.services-list li:first-child a:hover {
	background-color: var(--basic-btn-red-hover);
}

.service-item-link:active {
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-list li:nth-child(2n) a {
	background-color: var(--basic-btn-green-normal);
}

.services-list li:nth-child(2n) a:hover {
	background-color: var(--basic-btn-green-hover);
}

.services-list li:nth-child(2n) a:active {
	background-color: var(--basic-btn-green-active);
}

.services-list li:nth-child(3n) a {
	background-color: var(--basic-orange-normal);
}

.services-list li:nth-child(3n) a:hover {
	background-color: var(--basic-btn-orange-hover);
}

.services-list li:nth-child(3n) a:active {
	background-color: var(--basic-btn-orange-active);
}

.description-title {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	margin: 0;
	padding-bottom: 35px;
	padding-top: 34px;
}

.description-list-title {
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 23px;
}

.description-item {
	color: var(--basic-black-text);
	position: relative;
	padding-left: 32px;
	padding-bottom: 25px;
}

.description-text {
	padding-bottom: 40px;
	overflow: auto;
	max-height: 350px;
	color: var(--basic-text);
	line-height: 24px;
	margin: 0 auto;
}

.description-item::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	background-color: var(--basic-link-hover);
	top: 9px;
	left: 0;
}

.statistic-title {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

.statistic-persent {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	padding-right: 17px;
	padding-top: 12px;
}

.percent-sup {
	font-weight: bold;
	font-size: 26px;
	line-height: 40px;
}

.statistic-description {
	padding-top: 9px;
	line-height: 18px;
	color: var(--basic-black-text);
}

.client-item-link {
	opacity: 0.2;
}

.client-item-link:hover {
	opacity: 1;
}

.client-item-link:active {
	opacity: 0.1;
}

.info {
	background-color: var(--basic-white);
}

.info-link {
	display: block;
	width: 220px;
	box-sizing: border-box;
	padding: 16px 44px;
	margin-top: 33px;
	background: #FB565A;
}

.info-link:hover {
	background: #E74246;
}

.info-link:active {
	background: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, .3);
}

.info h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 23px;
}

.info p, .info-phone-link {
	line-height: 18px;
	color: var(--basic-text);
}

.friends h3 {
	margin: 0;
	padding-top: 6px;
	font-size: 36px;
	line-height: 36px;
}

.friends p {
	line-height: 22px;
	color: var(--basic-black-light);
}

.social-icons-svg {
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-icons {
	display: flex;
	margin-right: 139px;
}

.social-icons-item {
	margin-right: 9px;
}

/* catalog style */

.header-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	margin: 0;
	padding-top: 68px;
	padding-bottom: 112px;
}

.range-title, .option-title, .features-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.range-title {
	padding-bottom: 47px;
}

.option-title {
	padding-bottom: 15px;
}

.features-title {
	padding-bottom: 16px;
}

.option {
	margin-bottom: 27px;
}

.range, .option, .features {
	border: none;
}

.button-submit {
	border: none;
	background: var(--basic-gray);
	color: var(--basic-black);
	line-height: 18px;
	font-weight: 500;
	width: 100%;
	margin-top: 28px;
}

.button-submit:hover {
	background: var(--basic-paginathion-hover);
}

.button-submit:active {
	background: #D5D5D5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

button:active, button:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

.sort-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.sort-list {
	margin-left: auto;
}

.sort-item-link {
	color: var(--basic-black);
	opacity: 0.3;
}

.sort-item-link:hover {
	opacity: 0.6;
}

.sort-item-link-active {
	opacity: 1;
}

.sort-item-link:active {
	opacity: 1;
}

.sort-list .active {
	color: var(--basic-black);
	opacity: 1;
}

.site-item svg path {
	opacity: 0.12;
}

.site-item {
	background-color: var(--basic-bg-image);
}

.site-item:hover svg path {
	opacity: 1;
}

.site-item-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	margin: 0;
	padding-bottom: 12px;
}

.option-item {
	line-height: 20px;
	color: var(--basic-black-text);
	margin-bottom: 20px;
}

.pagination-item-link {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	min-height: 50px;
	font-weight: 500;
	line-height: 18px;
	color: var(--basic-black);
	background-color: var(--basic-gray);
	border-radius: 3px;
	
}

.pagination-item-link:hover {
	background-color: var(--basic-paginathion-hover);
}

.pagination-item-link:active {
	background-color: #D5D5D5;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.active .pagination-item-link {
	background: rgba(0, 0, 0, 0.0001);
	border: 3px solid #DBDBDB;
}

.next-link {
	min-width: 260px;
	text-transform: uppercase;
}

.services-list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	column-gap: 100px;
	border-bottom: 2px solid var(--basic-gray);
	padding-bottom: 80px;
}

.about-company {
	display: grid;
	grid-template-columns: 650px 360px;
	column-gap: 150px;
	padding-top: 40px;
}

.clients {
	padding-top: 50px;
	margin-bottom: 25px;
}

.clients-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	border-bottom: 2px solid var(--basic-gray);
	border-top: 2px solid var(--basic-gray);
	padding-top: 44px;
	padding-bottom: 32px;
}

.client-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.client-item:last-child {
	margin-right: 0;
}

.client-item::after {
	position: absolute;
	content: "";
	width: 2px;
	height: 52px;
	background-color: var(--basic-gray);
	top: 18px;
	right: -8px;
}

.client-item:last-child::after {
	display: none;
}

/* slider */

.slider {
	background-color: var(--basic-gray);
	position: relative;
}

.slider-item {
	display: none;
	padding-top: 68px;
	padding-right: 54%;
	padding-bottom: 79px;
	background-image: url("../img/nerds-index-slide1.png");
	background-repeat: no-repeat;
	background-position-x: 99%;
	background-position-y: -10px;
}

.slide-active {
	display: block;
}

.slider-item:nth-child(2n) {
	background-image: url("../img/nerds-index-slide2.png");
	background-repeat: no-repeat;
	background-position-x: 99%;
	background-position-y: -3px;
}

.slider-item:nth-child(3n) {
	background-image: url("../img/nerds-index-slide3.png");
	background-repeat: no-repeat;
	background-position-x: 99%;
	background-position-y: -9px;
}

.slider-item-text {
	max-width: 416px;
	margin-bottom: 26px;
	margin-top: 39px;
}

.slider-item:first-child .slider-item-text {
	margin-top: 25px;
	margin-bottom: 40px;
}

.slider-item-title {
	margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.slider-bullet {
	position: absolute;
	bottom: 95px;
	left: 47%;
}

.slider-bullet-btn {
	position: relative;
	vertical-align: bottom;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-right: 13px;
	background-color: var(--basic-white);
	border: none;
}

.bullet-active::before {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	border: 2px solid #C1C1C1;
	border-radius: 50%;
	top: 5px;
	right: 5px;
}

.header {
	display: flex;
	flex-wrap: wrap;
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu-list .menu-item {
	margin-right: 45px;
}

.menu-item .active {
	border-bottom: 2px solid #FB565A;
	padding-bottom: 21px;
}

.site-item {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	position: relative;
}

.site-item:hover .site-item-description {
	display: block;
}

.site-item-description {
	/* display: none; */
	background-color: var(--basic-gray);
	text-align: center;
	padding-top: 26px;
	padding-bottom: 44px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	max-height: 100%;
	
}

.site-item-link {
	line-height: 30px;
	color: var(--basic-black);
}

.site-item-link:hover {
	color: var(--basic-link-hover);
}

.site-item-link:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.site-item:hover {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.site-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-site {
	margin-left: 140px;
}

.site-list {
	display: grid;
	grid-template-columns: repeat(2, 360px);
	column-gap: 42px;
	row-gap: 30px;
	padding-bottom: 55px;
}

.main-filter {
	display: grid;
	grid-template-columns: 260px 1fr;
	align-content: start;
	padding-top: 51px;
}

.range, .option, .features {
	padding: 0;
}

.range {
	margin-bottom: 54px;
}

.sort {
	display: grid;
	grid-template-columns: 360px 360px;
	grid-template-rows: auto;
	gap: 40px;
	padding-bottom: 48px;
	margin-left: 140px;
}

.sort-list {
	display: flex;
	align-items: center;
}

.sort-item {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: 25px;
}

.sort-item:last-child {
	margin-right: 0;
}

.sort-list .sort-item:nth-child(4) {
	margin-right: 18px;
	margin-left: 23px;
}

.sort-down, .sort-up {
	border: none;
}

.sort-down:hover svg g, .sort-up:hover svg g {
	opacity: 1;
}

.sort-down:active svg path, .sort-up:active svg path {
	fill: #231F20;
	opacity: 1;
}

.map {
	position: relative;
	margin-top: 56px;
}

/* .map::before {
	position: absolute;
	content: "";
	background-image: url("../img/map-marker.png");
	width: 232px;
	height: 190px;
	left: 57%;
	top: 20%;
} */

.map .wrapper::before {
	position: absolute;
	content: "";
	background-image: url("../img/map-marker.png");
	width: 232px;
	height: 190px;
	left: 57%;
	top: 20%;
}

.map-image {
	height: 416px;
}

.map-iframe {
	width: 100%;
	height: 416px;
	border: none;
}

.info {
	margin: 0;
	padding: 31px 50px 43px;
	box-sizing: border-box;
	width: 319px;
	position: absolute;
	bottom: 66px;
}

.info-address {
	padding-right: 10px;
}

.footer-social-icons {
	display: flex;
	align-items: center;
	padding: 61px 20px;
}

.social-icons-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icons-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 78px;
	height: 78px;
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-icons-link:hover {
	background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-icons-link:active {
	background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-icons-link:active svg {
	opacity: 0.3;
}

.pagination-list {
	display: flex;
	align-items: center;
}

.pagination-item {
	margin-right: 11px;
	box-sizing: border-box;
}

.price-control label {
	text-transform: uppercase;
}

.price-control {
	display: flex;
	justify-content: space-between;
	padding-top: 14px;
}

.price {
	background-color: var(--basic-link-hover);
	padding: 17px 74px 15px;
	/* добавил */
}

.price:hover {
	background-color: var(--basic-btn-red-hover);
}

.price:active {
	background-color: var(--basic-btn-red-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.price-control input {
	width: 80px;
	height: 38px;
	background-color: var(--basic-gray);
	border-radius: 3px;
	text-align: center;
	border: none;
	margin-left: 11px;
	font-family: inherit;
	font-size: inherit;
}

.range-filter {
	position: relative;
	width: 260px;
	height: 80px;
	background-color: var(--basic-gray);
	border-radius: 3px;
}

.scale {
	position: absolute;
	width: 205px;
	height: 2px;
	background-color: #D7DCDF;
	top: 39px;
	left: 33px;
}

.bar {
	width: 133px;
	height: 2px;
	background-color: var(--basic-btn-green-normal);
}

.range-control .toogle {
	position: absolute;
	width: 4px;
	height: 4px;
	background-color: #ABABAB;
	top: 30px;
	border: 8px solid #FFFFFF;
	border-radius: 50%;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.range-control .toogle-min {
	left: 30px;
}

.range-control .toogle-max {
	left: 150px;
}

.check {
	position: relative;
}

.check-box {
	position: absolute;
	content: "";
	background-image: url("../img/checkbox/checkbox-off.svg");
	width: 23px;
	height: 23px;
	top: 0;
	left: 3px;
}

.check-input:checked+.check-box {
	background-image: url("../img/checkbox/checkbox-on.svg");
	width: 25px;
	height: 23px;
}

.check-input:checked:disabled+.check-box {
	background-image: url("../img/checkbox/checkbox-on-disabled.svg");
	width: 25px;
	height: 23px;
}

.check-input:checked:hover+.check-box {
	background-image: url("../img/checkbox/checkbox-on-hover.svg");
}

.check-input:hover+.check-box {
	background-image: url("../img/checkbox/checkbox-off-hover.svg");
}

.check {
	padding-left: 44px;
}

.radio {
	position: relative;
	padding-left: 44px;
}

.radio-btn {
	position: absolute;
	content: "";
	background-image: url("../img/checkbox/radio-off.svg");
	width: 25px;
	height: 25px;
	left: 3px;
}

.radio-input:checked+.radio-btn {
	width: 25px;
	height: 25px;
	background-image: url("../img/checkbox/radio-on.svg");
}

.radio-input:checked:disabled+.radio-btn {
	width: 25px;
	height: 25px;
	background-image: url("../img/checkbox/radio-on-disabled.svg");
}

.radio-input:checked:hover+.radio-btn {
	background-image: url("../img/checkbox/radio-on-hover.svg");
}

.radio-input:hover+.radio-btn {
	background-image: url("..//img/checkbox/radio-off-hover.svg");
}

/* popup */

.login-form {
	font-family: inherit;
}

.popup {
	position: fixed;
	margin: 0;
	width: 960px;
	max-width: 100%;
	max-height: 100%;
	padding: 63px 100px 83px 100px;
	background: var(--basic-white);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.popup-open {
	display: block;
}


.popup-title {
	margin: 0;
	font-size: 45px;
	line-height: 53px;
	grid-column: 1/-1;
	padding-bottom: 36px;
}

.login-form p {
	margin: 0;
}

.popup-label {
	line-height: 18px;
	font-weight: bold;
}

.button-modal {
	border: none;
	grid-row: 4/5;
	width: 260px;
	outline: none;
	background-color: var(--basic-btn-red-normal);
}

.button-modal:hover {
	background-color: var(--basic-btn-red-hover);
}

.button-modal:active {
	background-color: var(--basic-btn-red-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

.popup-input {
	padding: 16px;
	width: 360px;
	height: 50px;
	color: #444444;
	border: 2px solid #D7DCDE;
	border-radius: 3px;
	margin-top: 9px;
	opacity: 0.5;
}

.login-form {
	display: grid;
	grid-template-columns: repeat(2, 360px);
	column-gap: 40px;
}

.popup-text {
	grid-column: 1/ -1;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	padding-bottom: 47px;
	padding-top: 30px;
}

.popup-textarea {
	width: 760px;
	height: 118px;
	resize: none;
	background: #FFFFFF;
	border: 2px solid #D7DCDE;
	color: #444444;
	border-radius: 3px;
	margin-top: 9px;
	padding: 16px;
	opacity: 0.5;
}

.popup-textarea:hover, .popup-input:hover {
	opacity: 1;
	border: 2px solid #B4B9BB;
}

.popup-textarea:focus, .popup-input:focus {
	border: 2px solid #000;
	outline: none;
	opacity: 1;
}

.popup-textarea:invalid, .popup-input:invalid {
	border: 2px solid var(--basic-btn-red-hover);
	
}

.modal-close {
	position: absolute;
	border: none;
	padding: 0;
	background-color: transparent;
	width: 30px;
	height: 30px;
	right: 81px;
	top: 80px;
	cursor: pointer;
	opacity: 0.3;
}

.modal-close::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-image: url("../img/btn-modal-close.svg");
	width: 21px;
	height: 21px;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.1;
}