/* fonts */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Roboto"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

/* variables */

:root {
	--basic-black: #000000;
	--basic-black-light: #444444;
	--basic-black-text: #283136;
	--basic-gray: #EEEEEE;
	--basic-green: #00AA62;
	--basic-orange: #E5A722;
	--basic-red: #D7373B;
	--basic-white: #ffffff;
	--basic-text: #666666;
	--basic-link-hover: #FB565A;
	--basic-logo: #A6A6A6;
	--basic-btn-red-normal: #FB565A;
	--basic-btn-red-hover: #E74246;
	--basic-btn-red-active: #D7373B;
	--basic-btn-green-normal: #00CA74;
	--basic-btn-green-hover: #00BC6C;
	--basic-btn-green-active: #00AA62;
	--basic-btn-orange-normal: #EFC84A;
	--basic-btn-orange-hover: #EAB534;
	--basic-btn-orange-active: #E5A722;
}

/* global */

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	min-width: 1168px;
}

.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.main-header {
	background-color: var(--basic-gray);
}

.main-header-svg {
	width: 160px;
	height: 65px;
	margin-top: 26px;
	margin-right: 202px;
}

.cart-link {
	max-width: 130px;
	margin-top: 52px;
	margin-left: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	width: 1160px;
	margin: 0 auto;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* .main-header-svg:active path {
	fill: var(--basic-logo);
} */

.main-header-logo:hover svg {
	opacity: 0.7;
}

.main-header-logo:active svg {
	opacity: 0.3;
}

.menu-item a, .cart-link {
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 500;
	line-height: 30px;
}

.menu-item a:hover, .cart-link:hover {
	color: var(--basic-link-hover);
}

.menu-item a:active, .cart-link:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.slider-item-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.button {
	color: var(--basic-white);
	background-color: var(--basic-red);
	padding: 17px 54px 15px;
	border-radius: 3px;
	line-height: 18px;
	text-transform: uppercase;
}

.service-item-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.slider-item-link:active {
	background-color: var(--basic-btn-red-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, .3);
}

.service-item-link:active {
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-list li:nth-child(2n) a {
	background-color: var(--basic-green);
}

.services-list li:nth-child(2n) a:hover {
	background-color: var(--basic-btn-green-hover);
}

.services-list li:nth-child(2n) a:active {
	background-color: var(--basic-btn-green-active);
}

.services-list li:nth-child(3n) a {
	background-color: var(--basic-orange);
}

.services-list li:nth-child(3n) a:hover {
	background-color: var(--basic-btn-orange-hover);
}

.services-list li:nth-child(3n) a:active {
	background-color: var(--basic-btn-orange-active);
}

.description-title {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.description-list-title {
	font-weight: bold;
	text-transform: uppercase;
}

.description-item {
	color: var(--basic-black-text);
}

.statistic-title {
	text-transform: uppercase;
	font-weight: bold;
}

.statistic-persent {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
}

.statistic-description {
	line-height: 18px;
	color: var(--basic-black-text);
}

.client-image {
	opacity: 0.2;
}

.client-image:hover {
	opacity: 1;
}

.client-image:active {
	opacity: 0.1;
}

.info {
	background-color: var(--basic-white);
}

.info h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.info p, .info-phone-link {
	line-height: 18px;
	color: var(--basic-text);
}

.friends h3 {
	font-size: 36px;
	line-height: 36px;
}

.friends p {
	line-height: 22px;
	color: var(--basic-black-light);
}

.social-icons-svg {
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-icons {
	display: flex;
	margin-right: 139px;
}

.social-icons-item {
	margin-right: 9px;
}

/* catalog style */

.header-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.filter-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

fieldset {
	border: none;
}

.button-submit {
	border: none;
	background: var(--basic-gray);
	color: var(--basic-black);
	line-height: 18px;
	font-weight: 500;
}

.sort-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.sort-item {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-item-link {
	color: var(--basic-black);
	opacity: 0.3;
}

.sort-list .active {
	color: var(--basic-black);
	opacity: 1;
}

.site-item svg path {
	opacity: 0.12;
}

.site-item:hover svg path {
	opacity: 1;
}

.site-item-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.description-text {
	color: var(--basic-text);
}

.site-item-description {
	background: var(--basic-gray);
	width: 360px;
	min-height: 231px;
}

.option-item {
	line-height: 20px;
	color: var(--basic-black-text);
	margin-bottom: 20px;
}

.pagination-item-link {
	font-weight: 500;
	line-height: 18px;
	color: var(--basic-black);
	padding: 17px 15px;
	background: var(--basic-gray);
}

.next-link {
	text-transform: uppercase;
}

.services-list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 100px;
	margin-top: 80px;
}

.about-company {
	display: grid;
	grid-template-columns: 650px 360px;
	margin-top: 120px;
	column-gap: 150px;
}

.clients-list {
	display: flex;
	justify-content: space-around;
	margin: 63px 0 50px;
}

/* slider */

.slider {
	background-color: var(--basic-gray);
	position: relative;
}

.slider-item {
	display: none;
	min-height: 431px;
	padding-top: 10px ;
}

.slide-active {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url(../img/nerds-index-slide1.png);
	background-repeat: no-repeat;
	background-position-x: 93%;
	background-position-y: 10px;
	
}

.slider-item:nth-child(2) {
	background-image: url(../img/nerds-index-slide2.png);
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 10px;
	
}

.slider-item:nth-child(3) {
	background-image: url(../img/nerds-index-slide3.png);
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 10px;
	
}

.slider-item-text {
	margin-bottom: 38px;
	margin-top: 25px;
}

.slider-item-title {
	width: 538px;
}

.header {
	display: flex;
	flex-wrap: wrap;
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
}

.menu-list .menu-item {
	margin-top: 52px;
	margin-right: 45px;
}

.header-title {
	margin: 72px auto 108px;
}

.site-item {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-right: 42px;
	margin-bottom: 31px;
}

.site-item:nth-child(2n){
	margin-right: 0;
}

.site-item-description {
	display: none;
}

.catalog-site .site-list {
	display: flex;
	flex-wrap: wrap;
}

.main-filter {
	display: grid;
	grid-template-columns: 358px 760px;
	column-gap: 42px;
}

.catalog {
	grid-column: 2/4;
}

.catalog .sort {
	display: flex;
}

.sort-list {
	display: flex;
	align-items: center;
}

.map {
	position: relative;
}

.map .info {
	margin: 0;
	padding: 49px 50px 47px;
	box-sizing: border-box;
	width: 319px;
	height: 308px ;
	position: absolute;
	bottom: 54px;
	
}

.info .button {
	width: 219px;
	height: 50px;
	margin-top: 38px;
}

.footer-social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}

.social-icons-item {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--basic-gray);
	border-radius: 50%;
	width: 81px;
	height: 81px;

}

.pagination-list {
	display: flex;
	margin-bottom: 60px;
	
}

.pagination-item {
	margin-right: 11px;
	width: 50px;
	height: 50px;
	
}
